<a href="https://colab.research.google.com/github/suryautharakumar/DAS7000_Data_Analytics_and_Visualisation/blob/main/student_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Case Study: “Scraping the FilmCrave’s Top 1000 Movies” https://www.filmcrave.com/list_top_movie.php

Imagine you’re a data analyst intern at a media analytics firm called CineScope Analytics.
Your manager has asked you to research patterns and trends in movie data - ratings, genres, directors, and languages - to help a streaming startup decide what kind of films to invest in for their next global release.

You’ve been tasked with creating a data-driven report based on real-world data from the website FilmCrave - which lists the Top 1000 Movies of all time.

This week you only need to scape this website and extract folowing contents in a CSV file. You need to extract the detail of 1000 movies-

title Name of the movie

year_of_release Year movie was released

overall_rating FilmCrave rating (out of 5)

language Main language (if available)

genre Primary genre(s)

mpaa_rating Age rating (G, PG, R, etc.)

director Director(s) name

actors List of main actors

plot Short summary of the movie

#Hints for Scraping

Use requests to fetch each page.

Parse the HTML using BeautifulSoup.

Each movie block is contained in a <div class="movie"> or similar structure.

Extract sub-elements (e.g., title, year, rating, etc.).

Create a list of dictionaries and convert it into a pandas DataFrame.

Save the result to a CSV file:

df.to_csv("filmcrave_top_1000.csv", index=False)

In [1]:
base_url = "https://www.filmcrave.com/list_top_movie.php?page="

In [3]:
import requests

In [4]:
import pandas as pd
import time
from bs4 import BeautifulSoup

all_movies = []

#get data from 100url pages

for page in range(1, 101):
    url = f"{base_url}{page}"
    print(f"\n- Fetching Page {page} -\n")

    response = requests.get(url)
    if response.status_code != 200:
        print(f"Failed to fetch page {page}")
        continue

    soup = BeautifulSoup(response.text, "html.parser")

    movie_titles = soup.select(".detail-box .large a")
    movie_details = [p for p in soup.select(".detail-box p") if p.select_one(".grey-bold")]

#get movie details in loop for every pages

    for i, title_tag in enumerate(movie_titles):
        movie_data = {"Title": title_tag.get_text(strip=True)}

        if i < len(movie_details):
            spans = movie_details[i].select("span.grey-bold")
            for span in spans:
                label = span.get_text(strip=True).replace(":", "")
                value = ""

                next_element = span.next_sibling
                if next_element and isinstance(next_element, str):
                    value = next_element.strip()
                else:
                    next_element = span.find_next_sibling()
                    if next_element:
                        value = next_element.get_text(strip=True)

                movie_data[label] = value

        all_movies.append(movie_data)

    time.sleep(1)

df = pd.DataFrame(all_movies)
df.to_csv("filmcrave_top_100_pages.csv", index=False, encoding="utf-8-sig")  #saving as CSV

print("\n Data saved successfully to 'Filmcrave_Top_100_pages_Details.csv'")

--- Fetching Page 1 ---


--- Fetching Page 2 ---


--- Fetching Page 3 ---


--- Fetching Page 4 ---


--- Fetching Page 5 ---


--- Fetching Page 6 ---


--- Fetching Page 7 ---


--- Fetching Page 8 ---


--- Fetching Page 9 ---


--- Fetching Page 10 ---


--- Fetching Page 11 ---


--- Fetching Page 12 ---


--- Fetching Page 13 ---


--- Fetching Page 14 ---


--- Fetching Page 15 ---


--- Fetching Page 16 ---


--- Fetching Page 17 ---


--- Fetching Page 18 ---


--- Fetching Page 19 ---


--- Fetching Page 20 ---


--- Fetching Page 21 ---


--- Fetching Page 22 ---


--- Fetching Page 23 ---


--- Fetching Page 24 ---


--- Fetching Page 25 ---


--- Fetching Page 26 ---


--- Fetching Page 27 ---


--- Fetching Page 28 ---


--- Fetching Page 29 ---


--- Fetching Page 30 ---


--- Fetching Page 31 ---


--- Fetching Page 32 ---


--- Fetching Page 33 ---


--- Fetching Page 34 ---


--- Fetching Page 35 ---


--- Fetching Page 36 ---


--- Fetching Page 37 ---


--- Fetching Page 38 ---


--- Fetching Page 39 ---


--- Fetching Page 40 ---


--- Fetching Page 41 ---


--- Fetching Page 42 ---


--- Fetching Page 43 ---


--- Fetching Page 44 ---


--- Fetching Page 45 ---


--- Fetching Page 46 ---


--- Fetching Page 47 ---


--- Fetching Page 48 ---


--- Fetching Page 49 ---


--- Fetching Page 50 ---


--- Fetching Page 51 ---


--- Fetching Page 52 ---


--- Fetching Page 53 ---


--- Fetching Page 54 ---


--- Fetching Page 55 ---


--- Fetching Page 56 ---


--- Fetching Page 57 ---


--- Fetching Page 58 ---


--- Fetching Page 59 ---


--- Fetching Page 60 ---


--- Fetching Page 61 ---


--- Fetching Page 62 ---


--- Fetching Page 63 ---


--- Fetching Page 64 ---


--- Fetching Page 65 ---


--- Fetching Page 66 ---


--- Fetching Page 67 ---


--- Fetching Page 68 ---


--- Fetching Page 69 ---


--- Fetching Page 70 ---


--- Fetching Page 71 ---


--- Fetching Page 72 ---


--- Fetching Page 73 ---


--- Fetching Page 74 ---


--- Fetching Page 75 ---


--- Fetching Page 76 ---


--- Fetching Page 77 ---


--- Fetching Page 78 ---


--- Fetching Page 79 ---


--- Fetching Page 80 ---


--- Fetching Page 81 ---


--- Fetching Page 82 ---


--- Fetching Page 83 ---


--- Fetching Page 84 ---


--- Fetching Page 85 ---


--- Fetching Page 86 ---


--- Fetching Page 87 ---


--- Fetching Page 88 ---


--- Fetching Page 89 ---


--- Fetching Page 90 ---


--- Fetching Page 91 ---


--- Fetching Page 92 ---


--- Fetching Page 93 ---


--- Fetching Page 94 ---


--- Fetching Page 95 ---


--- Fetching Page 96 ---


--- Fetching Page 97 ---


--- Fetching Page 98 ---


--- Fetching Page 99 ---


--- Fetching Page 100 ---


✅ Data saved successfully to 'Filmcrave_Top_100_pages_Details.csv'

In [5]:
import pandas as pd


df = pd.read_csv("filmcrave_top_100_pages.csv")

print("Dataset loaded successfully!\n")
print("Shape of dataset:", df.shape)

Dataset loaded successfully!

Shape of dataset: (1000, 9)

In [13]:
df.head()

,Title,Year of Release,Overall Rating,Language,Genre,MPAA Rating,Director,Actors,Plot
0,The Shawshank Redemption,1994,3.5 out of 4 stars,English,Drama,R,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","A young banker named Andy, has his life change..."
1,Fight Club,1999,3.3 out of 4 stars,English,Drama/Crime,R,David Fincher,"Edward Norton, Brad Pitt, Helena Bonham Carter...",An average thirty-something office worker gets...
2,The Godfather,1972,3.5 out of 4 stars,English,Drama/Crime,R,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Robert D...",An organized crime leader gives up control of ...
3,The Dark Knight,2008,3.4 out of 4 stars,English,Action/Adventure,PG-13,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Batman raises the stakes in his war on crime. ...
4,Pulp Fiction,1994,3.4 out of 4 stars,English,Crime/Drama,R,Quentin Tarantino,"John Travolta, Samuel L. Jackson, Bruce Willis...",A story of four interweaving stories developin...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1000 non-null   object
 1   Year of Release  1000 non-null   int64
 2   Overall Rating   1000 non-null   object
 3   Language         999 non-null    object
 4   Genre            1000 non-null   object
 5   MPAA Rating      998 non-null    object
 6   Director         1000 non-null   object
 7   Actors           996 non-null    object
 8   Plot             959 non-null    object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [14]:
df.isna().sum()

Title               0
Year of Release     0
Overall Rating      0
Language            1
Genre               0
MPAA Rating         2
Director            0
Actors              4
Plot               41
dtype: int64